.navbar-expand-md {
    transition-timing-function: ease-in;
    transition: 0.5s; 
}
.navbar{
    width: 100%;
    max-width: 100%;
    min-height: 6vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    transition: all .2s ease;
    z-index: 1020;
}

.scrolled{
    position: fixed !important;
    top: 0;
    left: 0;
    background-color: lightblue;
}
.container {
    background-color: #fff;
    margin-left: auto;
    margin-right:auto ;
    padding-left: 50px;
    padding-right: 50px;
}

.fas {
    font-size: 25px;
    color:  #4d8f20 !important;
}
.navbar-collapse {
    font-size: 18px;
    font-family:"Lato", sans-serif;
    color: #000;
}
.nav-item {
    padding-right: 100px ;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav-link:hover {
    color: #6ba72b !important;
    background-color: rgb(189, 250, 154);
}
.dropdown-item:hover {
    background-color: rgb(126, 245, 122) !important;
    color: rgb(143, 141, 141);
}

@media only screen and (max-width: 600px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    navbar-toggler {
        text-align: center;
    }
    .navbar-collapse {
        flex-direction: column;
        width: 100%;
        z-index: 1020;
    }
  }