html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 14px !important;
  line-height: 1.4 !important;
  font-family: "Lato", sans-serif !important;
}
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
  &-jc-sa {
    justify-content: space-around;
  }
  &-wrap {
    flex-wrap: wrap;
  }
}
.left-side {
  float: left ;
}
.right-side {
  float: right ;
}
.App{
  background-color: #eee;
}
.App-body {
  color: #676767;
}
